<nav class="navbar p-3 navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test front end</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
          <a class="nav-link" routerLink="/color">Color </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
          <a class="nav-link" routerLink="/pais">Pais</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
          <a class="nav-link" routerLink="/region">Region</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="auth.loggedIn">
          <a class="nav-link" routerLink="/capital">Capital</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button
          *ngIf="!auth.loggedIn"
          (click)="auth.login()"
          class="btn btn-primary"
        >
          Login
        </button>
        
        <button
          *ngIf="auth.loggedIn"
          (click)="auth.logout()"
          class="btn btn-danger"
        >
          Salir
        </button>
      </span>
    </div>
  </div>
</nav>
